.addnewcart {
  position: relative;
}

.form {
  width: 100%;
  padding: 20px;
}
.inputWrap {
  display: flex;
  flex-direction: column;
  padding: 5px;
}
.inputWrap label {
  @apply text-slate-600;
}
.inputWrap input {
  margin: 10px;
  padding: 12px 10px;
  border: none;
  background-color: #f3f3f3;
  border-radius: 5px;
}
.formBtn {
  padding: 5px;
  margin: 10px;
}
.formBtn button {
  @apply w-full p-[10px] border-none rounded-[5px]
    bg-steel-blue-600 text-white;
}
