.cartDetailsWrapper {
  position: relative;
}
.cartDetailsBG {
  position: absolute;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  display: block
}
.cartDetailsBGshow{
  display: block;
}

.cartDetailsInfowrap {
  @apply flex flex-col items-center 
    justify-center p-[20px];
  /* border-bottom: 2px solid red */
}
.cartDetailsImgWrap {
  @apply w-[50px] h-[50px];
}
.cartDetailsImg {
  @apply w-full h-full rounded-[10px] object-cover border-2 border-solid border-steel-blue-200;
}
.cartDetailsInfo {
  @apply mt-3 flex flex-col items-center justify-center gap-1;
}
.cartDetailsInfo h3 {
  @apply text-steel-blue-500 text-[12px];
}
.cartDetailsInfo p {
  color: #a1a1a1;
}

.showExpenses {
  @apply px-[20px] py-[3px];
}
.showExpensesTitle {
  @apply text-steel-blue-700 text-[14px];
}
.showExpensesBtnWrap {
  @apply flex items-center justify-between gap-3 my-[20px];
}
.showExpensesBtn1 {
  @apply w-full p-4 border-none flex items-center justify-between rounded-[5px];
}
.showExpensesBtn2 {
  @apply w-full p-4 border-none rounded-[5px] bg-red-400 text-white flex items-center justify-center gap-2;
}
.showAddExpenses {
  @apply bg-steel-blue-800 mx-[20px] my-[5px] py-4 px-6 rounded-[5px] text-white flex items-center justify-between;
}
.showAddExpensesTitle {
}
.showAddExpensesPrice {
}
/* cart details modal */
.cartDetailsModalWrap {
  display: none;
}
.cartDetailsModalWrapShow{
  display: block;
}
.cartDetailsModal {
  background-color: white;
  position: fixed;
  width: 100%;
}
.cartDetailsModalTitleWrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
}
.cartDetailsModalTitle {
}
.cartDetailsModalClose {
}
.cartDetailsModalInfowrap {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 10px 20px;
}
.cartDetailsModalInfowrap button {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
}
.cartDetailsModalBtn1,
.cartDetailsModalBtn2 {
  border: none;
  border-radius: 5px;
}
.cartDetailsModalBtn1 {
  background-color: #ccc;
  color: #8c8c8c;
}
.cartDetailsModalBtn2 {
  background-color: inherit;
  border: 1px solid #ccc;
  color: #8c8c8c;
}
