.chartWrap{
    padding: 12px;
}
.monthBtnWrap{

}
.monthBtnTitle{
padding-right: 10px;
}
.monthBtn{
    @apply w-full my-4 p-4 bg-steel-blue-600 text-white border-none rounded-md

}
.monthBtnChoice{
    text-align: right;
    @apply w-full my-4 p-4 bg-steel-blue-600 text-white border-none rounded-md

}

.rengeWraper{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
}
.rengeRight{
    width: 100%;
}
.rengeLeft{
    width: 100%;
}
.rengeTitle{

}
.rengeBtn{
  
    @apply w-full mt-3 p-3 bg-steel-blue-600 text-white border-none rounded-md
}